body {
    background-color: white;
}
#profileinfoform{ 
    width: 500px; 
    padding: 20px; 
    margin: auto; 
    border: 2px solid white; 
    border-radius: 10px; 
    background-color: white; 
    margin-top: 8%; 
    margin-bottom: 8%; 
}
#loginform { 
    width: 350px;
    padding: 20px;
    margin: auto; 
    margin-top: 10%;
    border: 2px solid white; 
    border-radius: 10px; 
    background-color: white; 
}
#registerform {
    width: 350px;
    padding: 20px;
    margin: auto; 
    margin-top: 10%;
    border: 2px solid white; 
    border-radius: 10px; 
    background-color: white; 
}
.container {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}
.form-control {
    height: 38px;
}
.col-sm img {
    border-radius: 10px;
}
#cont1 {
    margin: 80px 80px 0px 80px;
    padding-top: 20px;
}
#cont1:target {
    padding-top: 80px;
    margin-top: 20px;
}
#cont2 {
    width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
}
#cont2 h2 {
    margin-left: 13px;
    margin-top: 20px;
}
#cont3 h2 {
    margin-left: 20px;
    margin-top: 40px;
}
#cont4 {
    margin: 50px 80px 0px 80px;
}
#cont4 h2 {
    text-align: center;
    padding-bottom: 15px;
}

#p1 {
    margin: 0px 0px 0px 0px;
}

#p2 {
    margin: 20px 0px 0px 0px;
}

#p3 {
    margin: 20px 0px 0px 0px;
}
.footer {
    background-color: #0275d8;
    height: 60px;
}
#copy {
    margin: auto;
    margin-top: 20px;
}
/*
#logout {
    position: absolute;
    right: 1;
}
*/
.btn-light {
    color: white;
    right: 10px;
    position: absolute;
}
.btn-light:hover {
    background-color: red;
    color: white;
    border: red;
}
#skills {
    list-style-type: none;
}
.btn-warning {
    right: 110px;
    position: absolute;
}
.btn-danger {
    right: 10px;
    position: absolute;
    top: 10px;
}
#delfooter {
    bottom: 0px;
    position: absolute;
    width: 100%;
}
#delcopy {
    margin: auto;
}
#uploadbutton
{
    margin-top: -20px;
}
#profileinfo {
    margin-left: -50px;
}
#profilepicture img {
    border-radius: 150px;
    border: 3px solid #0275d8;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: -20px;

}
#projects {
    text-align: center;
}
.container:target {
    padding-top: 40px;
}
@media screen and (max-width: 1024px) {
    
    #profilepicture img {
        margin-left: 20px;
    }
    #profileinfoform {
        width: 800px;
    }
    .progress-bar.progress-bar-striped.progress-bar-animated {
        height: 30px !important;
    }
    .progress {
        height: 30px !important;
        font-size: 1.1rem;
    }
    .progress-title {
        line-height: 30px;
    }
    .col-sm {
        max-width: 50%;
        margin-top: 30px;
    }
    #cont3 h2 {
        margin-left: 60px;
    }
}
@media screen and (max-width: 768px) {
    
    .collapse.show {
        height: 160px;
    }
    .btn-warning {
        position: absolute;
        left: 15px;
        width: 110px;
    }
    .btn-light {
        left: 130px;
        width: 100px;
        border: 1px solid white;
    }
    #profileinfo {
        margin-left: 40px;
        max-width: 450px;
    }
    #profileinfoform {
        width: 90%;
    }
    #profilepicture img {
        margin-top: 10px;
    }
}
@media screen and (max-width: 425px) {
    
    #profilepicture {
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    #profilepicture img {
        margin-left: 0;
        margin-top: -10px;
    }
    #profileinfo {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    .col-sm {
        max-width: 100%;
    }
    #cont2 {
        width: 100%;
    }
    #cont3 h2 {
        margin-left: 30px;
    }
}
@media screen and (max-width: 375px) {

    #cont3 h2 {
        margin-left: 5px;
    }
}
@media screen and (max-width: 320px) {
    #cont1, #cont2, #cont3, #cont4, .footer {
        width: 120%;
    }
    .navbar.navbar-toggleable-md.navbar-inverse.bg-primary {
        width: 120%;
    }
    #profileinfoform {
        width: 120%;
    }
}