body {
    background-color: white;
}
.container {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}
.form-control {
    height: 38px;
}
.col-sm img {
    border-radius: 10px;
}
#cont1 {
    margin: 80px 80px 0px 80px;
    padding-top: 20px;
}
#cont1:target {
    padding-top: 80px;
    margin-top: 20px;
}
#cont2 {
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
#cont2 h2 {
    margin-left: 13px;
    margin-top: 20px;
}
#cont3 h2 {
    margin-left: 20px;
    margin-top: 40px;
}
#cont4 {
    margin: 50px 80px 0px 80px;
}
#cont4 h2 {
    text-align: center;
    padding-bottom: 15px;
}

#p1 {
    margin: 0px 0px 0px 0px;
}

#p2 {
    margin: 20px 0px 0px 0px;
}

#p3 {
    margin: 20px 0px 0px 0px;
}
.footer {
    background-color: #0275d8;
    height: 60px;
}
#copy {
    margin: auto;
    margin-top: 20px;
}
/*
#logout {
    position: absolute;
    right: 1;
}
*/
.btn-light {
    color: white;
    right: 10px;
    position: absolute;
}
.btn-light:hover {
    background-color: red;
    color: white;
    border: red;
}
#skills {
    list-style-type: none;
}
.btn-warning {
    right: 110px;
    position: absolute;
}
.btn-danger {
    right: 10px;
    position: absolute;
    top: 10px;
}
#delfooter {
    bottom: 0px;
    position: absolute;
    width: 100%;
}
#delcopy {
    margin: auto;
}
#uploadbutton
{
    margin-top: -20px;
}
#profileinfo {
    margin-left: -50px;
}
#profilepicture img {
    border-radius: 150px;
    border: 3px solid #0275d8;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: -20px;

}
#projects {
    text-align: center;
}
.container:target {
    padding-top: 40px;
}